/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 50px auto;
  padding: 0px;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
  }

  .heading {
    font-family: 'pacifio', cursive;
    font-size: bold;
    color: rgb(98, 197, 98); 
  }

  form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  input {
    padding-left: 5px;
    font-size: 15px;
    height: 36px;
  }
label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  color: #0f1803;
}
 
button {
    width: 50%;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    border: 2px rgb(98, 197, 98);;
    border-radius: 4px;
    background-color: rgb(165, 164, 143);;
    cursor: pointer;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 1px;
  border: 1px solid #0c0c0c;
  border-radius: 4px;
  box-sizing: border-box;
}



.switch {
    color: rgb(13, 15, 13);
    width: 20%;
}
button:hover{
  background-color:rgb(98, 197, 98);;
}
 
 p {
    font-size: 30px;
}
div {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}
h3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  
}

 

